/*
* It's a Node.js Program 
* base.css - Less File for Index
* Author zhen.lin 
* Code at 8/24/15
*/
/******* add-ons*/
.icon.icos {
  background: url(../images/icons.png) no-repeat;
}
.icon.third {
  background: url(../images/third_log.png) no-repeat;
  background-size: 74px 51px;
}
/*-------------------toast start-------------------*/
.toast {
  position: fixed;
  height: 100px;
  width: 300px;
  padding: 0 30px;
  border-radius: 6px;
  z-index: 10001;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -180px;
  line-height: 1.8;
  text-align: center;
  font-size: 22px;
  color: #fff;
  display: table;
  background: #000;
  opacity: .8;
  filter: alpha(opacity=80);
}
.toast p {
  display: table-cell;
  vertical-align: middle;
}
/*-------------------toast end-------------------*/
.container {
  display: block;
  font-weight: lighter;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.container .header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #fff;
  z-index: 200;
  box-shadow: 2px 2px 12px #a5c5f5;
}
.container .header .top {
  width: 780px;
  clear: both;
  margin: 0 auto;
}
.container .header .top .nav-logo {
  display: inline-block;
  position: relative;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.container .header .top .nav-logo .ego {
  height: 50px;
  line-height: 50px;
  float: left;
  z-index: 200;
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
}
.container .header .top .nav-logo .ego a {
  display: block;
  width: 100%;
  height: 100%;
  color: #a5c5f5;
}
@media only screen and (min-width: 400px) and (max-width: 780px) {
  .container .header .top ul.nav-li {
    width: 240px;
  }
}
.container .header .top ul.nav-li {
  display: none;
  margin-left: 190px;
}
.container .header .top ul.nav-li li {
  display: inline-block;
  height: 50px;
  width: 100px;
  text-align: center;
  float: left;
  font-size: 18px;
  line-height: 50px;
  margin-right: 20px;
}
.container .header .top ul.nav-li li a {
  display: inline-block;
  color: #000;
  height: 50px;
  width: 100px;
  transition: font-size 0.3s ease-out;
  -webkit-transition: font-size 0.3s ease-out;
  -moz-transition: font-size 0.3s ease-out;
  -o-transition: font-size 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  cursor: pointer;
}
.container .header .top ul.nav-li li a:hover {
  font-size: 22px;
  color: #a5c5f5;
}
.container .header .top ul.nav-li li a.active {
  font-size: 22px;
  color: #5588dd;
}
.container .header .top ul.sign-log {
  display: inline-block;
  width: auto;
  float: right;
}
.container .header .top ul.sign-log li {
  display: inline-block;
  height: 50px;
  float: left;
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  margin-right: 20px;
}
.container .header .top ul.sign-log a {
  display: inline-block;
  height: 50px;
  color: #5d5d5d;
  cursor: pointer;
}
.container .header .top ul.sign-log a:hover {
  color: #000;
  cursor: pointer;
}
.container .header .top .user-tab {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 45px;
  float: right;
}
.container .header .top .user-tab .user-info {
  display: inline-block;
  width: auto;
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 46px;
  text-indent: 32px;
}
.container .header .top .user-tab .user-info a,
.container .header .top .user-tab .user-info a:visited {
  color: #a5c5f5;
}
.container .header .top .user-tab .user-info a:hover {
  color: #5588dd;
  text-decoration: underline;
}
.container .header .top .user-tab .log-out {
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 12px;
  width: auto;
  height: 45px;
  line-height: 46px;
  padding-left: 15px;
}
.container .header .top .user-tab .log-out a,
.container .header .top .user-tab .log-out a:visited {
  color: #bbb;
}
.container .header .top .user-tab .log-out a:hover {
  color: 888;
  text-decoration: underline;
}
.container .sea-index {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  box-sizing: border-box;
  background: url(http://www.nostory.cn/images/sea.jpg) no-repeat;
  background-size: 100%;
}
.container .sea-index .text-index {
  display: block;
  position: absolute;
  width: auto;
  height: 100px;
  font-size: 99px;
  line-height: 100px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.container .nostory {
  display: block;
  overflow-y: auto;
  width: 100%;
  min-height: 596px;
  margin: 65px auto 0;
  z-index: 100;
}
.container .nostory .n-left {
  display: inline-block;
  float: left;
  width: 63%;
  height: auto;
  margin-left: 6%;
  margin-bottom: 30px;
}
.container .nostory .n-left .n-left-wrap {
  min-height: 100px;
  position: relative;
  font-size: 14px;
  padding: 10px 20px 40px;
  margin-bottom: 25px;
  margin-top: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.container .nostory .n-left .n-left-wrap:hover {
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
}
.container .nostory .n-left .n-left-wrap .info {
  display: block;
  position: relative;
  width: auto;
  margin: 0 0 20px 28px;
  font-size: 12px;
  color: #888;
}
.container .nostory .n-left .n-left-wrap .info .sub-info {
  display: inline-block;
  margin-right: 20px;
}
.container .nostory .n-left .n-left-wrap .info .author-name a,
.container .nostory .n-left .n-left-wrap .info .author-name a:visited {
  color: #a5c5f5;
}
.container .nostory .n-left .n-left-wrap .info .author-name a:hover {
  color: #5588dd;
}
.container .nostory .n-left .n-left-wrap .info ul.tag-name {
  display: inline-block;
  margin-right: 0;
  vertical-align: middle;
}
.container .nostory .n-left .n-left-wrap .info ul.tag-name li {
  float: left;
  display: block;
  height: 16px;
  line-height: 16px;
  padding: 0 1px;
  margin-right: 10px;
  border: 1px solid #f5efef;
  border-radius: 4px;
}
.container .nostory .n-left .n-left-wrap .info ul.tag-name li a,
.container .nostory .n-left .n-left-wrap .info ul.tag-name li a:visited {
  color: #a5c5f5;
}
.container .nostory .n-left .n-left-wrap .info ul.tag-name li:hover {
  background: #5588dd;
}
.container .nostory .n-left .n-left-wrap .info ul.tag-name li:hover a {
  color: #fff;
}
.container .nostory .n-left .n-left-wrap .content {
  width: 750px;
  line-height: 16px;
  margin: 0 auto 10px;
}
.container .nostory .n-left .n-left-wrap .content p {
  width: 680px;
  line-height: 20px;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
}
.container .nostory .n-left .n-left-wrap .vote-area {
  display: block;
  position: absolute;
  width: 38px;
  top: 10px;
  right: 20px;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box {
  display: block;
  width: 38px;
  height: 44px;
  background: #eff6fa;
  color: #698ebf;
  font-size: 12px;
  margin-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box:hover {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box span {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box i {
  display: block;
  width: 20px;
  height: 12px;
  margin: 0 auto;
  background: url(http://www.nostory.cn/images/sprite.png) no-repeat;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box.vote-up {
  padding-top: 10px;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box.vote-up i {
  background-position: -216px -78px;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box.vote-down {
  padding-top: 5px;
}
.container .nostory .n-left .n-left-wrap .vote-area .vote-box.vote-down i {
  background-position: -242px -78px;
}
.container .nostory .n-left .n-left-wrap .show-btn {
  display: block;
  position: absolute;
  width: 60px;
  height: 25px;
  border-radius: 4px 4px 0 0;
  bottom: 0;
  right: 20px;
  background: #a5c5f5;
  color: #fff;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.container .nostory .n-left .n-left-wrap .show-btn:hover {
  background: #5588dd;
}
.container .nostory .n-left .load-more {
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ddd;
  background: #a5c5f5;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.container .nostory .n-left .load-more:hover {
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
}
.container .nostory .n-left p {
  line-height: 18px;
  margin: 0 0 8px 28px;
}
.container .nostory .n-right {
  display: inline-block;
  width: 252px;
  margin-left: 75px;
}
.container .nostory .n-right.right-fixed {
  position: fixed;
  top: 52px;
}
.container .nostory .n-right div.shadow {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.container .nostory .n-right div.shadow.n-right-top {
  height: 160px;
  margin-top: 4px;
}
.container .nostory .n-right div.shadow.user-box {
  padding: 0;
}
.container .nostory .n-right div.shadow.user-box .user-info {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #ddd;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  box-sizing: border-box;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail {
  display: inline-block;
  width: 140px;
  height: 60px;
  float: right;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #888;
  box-shadow: 0 1px 1px #f7f7f7;
  box-sizing: border-box;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.div-last {
  box-shadow: 0 0 0 #ffffff;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-name a,
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-name a:visited {
  color: #a5c5f5;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-id span {
  color: #666;
  margin-left: 5px;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-tag {
  border-bottom: 0;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-tag p.tag {
  display: inline-block;
  width: auto;
  height: 18px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  color: #a5c5f5;
  border: 1px solid #a5c5f5;
  border-radius: 12px;
  padding: 0 2px;
  box-sizing: border-box;
  margin: 2px 5px 0 0;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-box .user-info-detail div.user-tag p.tag:hover {
  background: #a5c5f5;
  color: #fff;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-list li {
  display: block;
  position: relative;
  width: 82px;
  height: 40px;
  float: left;
  border-right: 1px solid #ddd;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-list li.li-last {
  float: right;
  border-right: 0;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-list li a span {
  display: block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #888;
  margin: 0 auto;
}
.container .nostory .n-right div.shadow.user-box .user-info .user-info-list li a span.data {
  color: #555;
  font-size: 16px;
}
.container .nostory .n-right div.shadow a,
.container .nostory .n-right div.shadow a:visited {
  display: block;
  color: #000;
  font-size: 14px;
}
.container .nostory .n-right div.shadow a.add-post,
.container .nostory .n-right div.shadow a:visited.add-post {
  width: 100%;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  background: #a5c5f5;
  color: #fff;
}
.container .nostory .n-right div.shadow a.add-post:hover,
.container .nostory .n-right div.shadow a:visited.add-post:hover {
  background: #5588dd;
}
.container .nostory .n-right div.shadow a.a-title,
.container .nostory .n-right div.shadow a:visited.a-title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .nostory .n-right div.shadow a.a-title:hover,
.container .nostory .n-right div.shadow a:visited.a-title:hover {
  color: #a5c5f5;
}
.container .nostory .n-right div.shadow:hover {
  box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.2);
}
.container .nostory .n-right div.shadow.n-right-mid {
  min-height: 320px;
}
.container .nostory .n-right div.shadow.n-right-mid .mid-title {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #eaeaea;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends a,
.container .nostory .n-right div.shadow.n-right-bot .rec-friends a:visited {
  display: inline-block;
  text-decoration: none;
  color: #a5c5f5;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends a:hover {
  color: #5588dd;
  text-decoration: underline;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends .rf-name {
  width: auto;
  height: 35px;
  line-height: 35px;
  text-indent: 14px;
  font-size: 14px;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends .follow-btn {
  width: 40px;
  height: 25px;
  line-height: 23px;
  border: 1px solid #a5c5f5;
  background: #a5c5f5;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  box-sizing: border-box;
}
.container .nostory .n-right div.shadow.n-right-bot .rec-friends .follow-btn:hover {
  color: #fff;
  background: #5588dd;
  text-decoration: none;
  border: 1px solid #5588dd;
}
.container .nostory .n-right div.shadow .article-list {
  display: block;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}
.container .nostory .n-right div.shadow .article-list .read-num,
.container .nostory .n-right div.shadow .article-list .read-author {
  display: inline-block;
  color: #888;
  font-size: 12px;
  margin-right: 5px;
}
.container .nostory .n-right div.shadow .article-list.last {
  border: 0;
}
.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  background: #fff;
  margin-top: 40px;
  z-index: 100;
  box-shadow: 2px 2px 12px #a5c5f5;
}
/** 弹层&蒙板&注册&登陆 **/
.sunrise {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .0;
  filter: alpha(opacity=0);
  z-index: -1;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}
.sunrise.sunny {
  z-index: 1000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.box {
  display: block;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  min-height: 400px;
  opacity: .2;
  background: #fff;
  z-index: 10001;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.box.trans {
  z-index: 10001;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.box .third-log {
  width: 126px;
  margin: 0 auto;
}
.box i {
  display: inline-block;
  transition: background-position 0.3s ease-out;
  -webkit-transition: background-position 0.3s ease-out;
  -moz-transition: background-position 0.3s ease-out;
  -o-transition: background-position 0.3s ease-out;
}
.box i.close-ico {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  opacity: .5;
  z-index: 10001;
  background-position: -1px -76px;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}
.box i.close-ico:hover {
  opacity: 1;
}
.box i.third.qq-ico {
  width: 19px;
  height: 18px;
  background-position: -1px 0;
  margin-left: 10px;
  margin-right: 15px;
}
.box i.third.qq-ico:hover {
  background-position: -21px 0;
}
.box i.third.wx-ico {
  width: 19px;
  height: 18px;
  background-position: -1px -18px;
  margin-right: 15px;
}
.box i.third.wx-ico:hover {
  background-position: -21px -18px;
}
.box i.third.wb-ico {
  width: 19px;
  height: 18px;
  background-position: -40px 0;
  margin-right: 15px;
}
.box i.third.wb-ico:hover {
  background-position: -40px -18px;
}
.box i:hover {
  transition: background-position 0.3s ease-out;
  -webkit-transition: background-position 0.3s ease-out;
  -moz-transition: background-position 0.3s ease-out;
  -o-transition: background-position 0.3s ease-out;
}
.box .box-title {
  display: block;
  width: 100%;
  height: 80px;
  margin-top: 34px;
  line-height: 80px;
  font-size: 44px;
  text-align: center;
  color: #a5c5f5;
}
.box .sub-title {
  display: block;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}
.box input {
  display: block;
  width: 80%;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  margin: 0 auto 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-indent: 14px;
  box-sizing: border-box;
}
.box input.error {
  border-color: #ff4400;
}
.box input.right {
  border-color: #78FF00;
}
.box .button {
  display: block;
  width: 80%;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  margin: 0 auto 18px;
  text-align: center;
  background: #a5c5f5;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}
.box .button:hover {
  background: #fff;
  border: 1px solid #a5c5f5;
  color: #a5c5f5;
  cursor: pointer;
}
.publish {
  display: block;
  position: relative;
  width: 750px;
  height: 580px;
  margin: 0 auto;
  margin-top: 70px;
}
.publish .title-area {
  display: block;
  width: 100%;
  margin: 20px auto 10px;
}
.publish .title-area input {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 20px;
  text-indent: 30px;
  outline: none;
}
.publish .tag-area {
  width: 100%;
  height: 20px;
  margin: 10px auto;
}
.publish .tag-area .add-tag-area {
  display: inline-block;
}
.publish .tag-area .add-tag-area .tag-input {
  text-indent: 5px;
  margin-right: 5px;
  outline: none;
}
.publish .tag-area .add-tag-area .tag-confirm {
  color: #a5c5f5;
  font-size: 12px;
  margin-right: 3px;
  cursor: pointer;
}
.publish .tag-area .add-tag-area .tag-cancel {
  color: #999;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
.publish .tag-area .tag {
  display: inline-block;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.publish .tag-area .tag.tag-name {
  line-height: 18px;
  border: 1px solid #a5c5f5;
  border-radius: 12px;
  color: #a5c5f5;
  padding: 0 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
.publish .tag-area .tag.tag-name:hover {
  background: #a5c5f5;
  color: #fff;
}
.publish .tag-area .tag.tag-add {
  font-size: 12px;
  text-decoration: underline;
  color: #999;
}
.publish .post-area {
  display: block;
  position: absolute;
  width: 300px;
  height: 40px;
  margin: 20px 0;
  right: 0;
}
.publish .post-area .reset-btn,
.publish .post-area .add-btn {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
.publish .post-area .reset-btn {
  margin-left: 120px;
  font-size: 18px;
  background: #eee;
  cursor: pointer;
}
.publish .post-area .reset-btn:hover {
  background: #aaa;
}
.publish .post-area .add-btn {
  font-size: 18px;
  background: #a5c5f5;
  cursor: pointer;
}
.publish .post-area .add-btn:hover {
  background: #5588dd;
}
