*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: sans-serif,'Microsoft YaHei',arial;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
.clearfix:before,.clearfix:after {
     content: "";
     display: table;
     
}
.clearfix:after {
    clear: both;
    height: 0;
}
.clearfix {*zoom: 1;}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
h1{
    display: block;
    font-size:32px;
    text-align: left;
    font-weight: normal;
    margin: 20px 28px 10px;
}